{% extends "auctions/layout.html" %}

{% block body %}
    <h3>Create a new listing</h3>
    <div class="ml-2">
        <form  action="{% url 'auctions:create' %}" method="post">
            <div class="form-group">
                {% csrf_token %}
                <div class="form-group"> {{ form.title }} </div>
                <div class="form-group"> {{ form.description }} </div>
                <div class="form-group"> {{ form.starting_bid }} </div>
                <div class="form-group">{{ form.image }} </div>
                <div class="form-group"> {{ form.categury }} </div>
                <input type="submit" value="create">
            </div>
        </form>
    </div>  
{% endblock %}