{% extends "auctions/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
            
            {% if image == "" or image == None %}
                <img src="https://cdn0.iconfinder.com/data/icons/game-2-2/50/113-512.png" alt="No image available" width="100" height="100">
            {% else %}
                <img src={{image}} alt="No image available" width="100">
            {% endif %}
            <p></p>
            
            <table class="table table-striped mx-auto" style="width:70%">
                <thead class="thead-dark"> 
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col"> Bid($)</th>
                        <th scope="col">Categury</th>
                        <th scope="col">Watch</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <th scope="row">{{id}}</th>
                            <td>{{title}}</td>
                            <td> {{description}} </td>
                            <td>{{current_bid}}</td>
                            <td>{{categury}} </td>
                            <td>
                                {% if user.is_authenticated %}
                                    <form action="{% url 'auctions:listing' id %}" method="post">
                                        {% csrf_token %}
                                        <input name = "watch" class="btn btn-{{color}} rounded-pill" type="submit" value={{value}}>
                                    </form>
                                {% else %}
                                    Not signed in!
                                {% endif%}
                            </td>
                        </tr>
                </tbody>
            </table>

        {% if user.is_authenticated %}
            <form action="{% url 'auctions:listing' id %}" method="post">
                {% csrf_token %}
                <div class="form-group"> {{form.bid }} </div>
                <input name = "bid" class="btn btn-primary" type="submit" value="Place bid">
            </form>

        {% endif %}

{% endblock %}